{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

PACKAGES=(
  git
  curl
  wget
  tmux
  neovim
  direnv
  hub
  fzf
  exa
  gnupg
  zsh
  ripgrep
  source-highlight
  fortune-mod
)

{{   if eq .chezmoi.osRelease.id "ubuntu" }}
# Debian/Ubuntu code

# Add neovim PPA
sudo add-apt-repository ppa:neovim-ppa/unstable -y

# Install packages
sudo apt update -y
sudo apt install -y \
  apt-transport-https \
  ca-certificates \
  software-properties-common \
  lsb-release \
  ${PACKAGES[@]}

{{   else if eq .chezmoi.osRelease.id "fedora" }}
# Fedora-specific code

# Install RPM Fusion
sudo dnf install \
  https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm
sudo dnf install \
  https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm

# Install packages
sudo dnf install -y ${PACKAGES[@]}

{{   end }}

# Install git-credential-manager
curl -L https://aka.ms/gcm/linux-install-source.sh | sh

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Generate a Brewfile
cat > $HOME/.Brewfile <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
brew "node"
brew "bitwarden-cli"
brew "chezmoi"
brew "direnv"
brew "exa"
brew "fd"
brew "fortune"
brew "fzf"
brew "gh"
brew "git"
brew "git-credential-manager"
brew "gnupg"
brew "gum"
brew "htop"
brew "hub"
brew "jq"
brew "neovim"
brew "ntfs-3g"
brew "mas"
brew "pinentry-mac"
brew "ripgrep"
brew "source-highlight"
brew "tig"
brew "tmux"
brew "tz"
brew "wget"
cask "alfred"
cask "alt-tab"
cask "bitwarden"
cask "clipy"
cask "firefox"
cask "font-inconsolata-go-nerd-font"
cask "gitify"
cask "google-chrome"
cask "iterm2"
cask "karabiner-elements"
cask "notion"
cask "spotify"
cask "syncthing"
cask "textmate"
cask "the-unarchiver"
cask "visual-studio-code"
cask "vlc"
mas "Magnet", id: 441258766
mas "Microsoft Remote Desktop", id: 1295203466
mas "Tailscale", id: 1475387142
mas "Twitter", id: 1482454543
EOF

brew bundle --global

{{ end -}}

# vim: syn=sh
