alias diff 'diff --color=auto'
alias grep='grep --color=auto'
alias ls='ls --color=auto'
alias ssh='TERM=xterm ssh'
alias sage='SAGE_CUDA=/opt/cuda sage'
alias mpd='mpd; mpDris2 2> /tmp/mpDris2.log &'
