! Xft settings ---------------------------------------------------------------

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! URxvt settings -------------------------------------------------------------

URxvt*depth: 32
URxvt*background: rgba:0000/0000/0000/8888
URxvt*foreground: #F2F1ED
URxvt*geometry: 80x20

! scrollbar style - rxvt (default), plain (most compact), next, or xterm
! URxvt*scrollstyle: rxvt
URxvt*scrollBar: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt*font: xft:Monaco:pixelsize=13,xft:DejaVu Sans Mono:pixelsize=13
URxvt*BoldFont: xft:Monaco:bold:pixelsize=13,xft:DejaVu Sans Mono:bold:pixelsize=13

URxvt*iconFile:    /usr/share/icons/Faenza/apps/48/Terminal.png
ncmpcpp*iconFile:    /usr/share/icons/Faenza/apps/48/gnome-audio.png
htop*iconFile:    /usr/share/icons/Faenza/apps/48//htop.png
alsamixer*iconFile:    /usr/share/icons/Faenza/apps/48/gnome-audio.png

URxvt*loginShell: true

! URxvt*termName:screen-256color

URxvt*perl-ext-common:  default,matcher,fullscreen,vtwheel,clipboard
URxvt*keysym.F11: perl:fullscreen:switch
URxvt*keysym.Home: \e[7~
URxvt*keysym.End: \e[8~
URxvt*keysym.Shift-Control-C: perl:clipboard:copy
URxvt*keysym.Shift-Control-V: perl:clipboard:paste
URxvt*iso14755: False
URxvt*url-launcher:      /usr/bin/firefox
URxvt*matcher.button:   1
URxvt*colorUL: #4682B4

URxvt*selection*pattern-0: ([^"&'()*,;<=>?@[\\\\]^`{|})]+)

! Xcursor --------------------------------------------------------------------

Xcursor*theme: Vanilla-DMZ-AA
Xcursor*size:  22

! terminal colors ------------------------------------------------------------

*fading: 32
*fadeColor: rgba:0000/0000/0000/8888
*cursorColor: #E7E4C4
URxvt*colorBD:           #585653
URxvt*colorUL:           #6c615e

!*background: #000000
!*foreground: #eeeeec

! black
!*color0: #0D050B
! bright_black
!*color8: #3D3D3D
! red
!*color1: #663555
! bright_red
!*color9: #8C5B7B
! green
!*color2: #4E524B
! bright_green
!*color10: #6E726B
! yellow
!*color3: #ADA785
! bright_yellow
!*color11: #C5BF9B
! blue
!*color4: #404759
! bright_blue
!*color12: #575E73
! magenta
!*color5: #5c3566
! bright_magenta
!*color13: #75507b
! cyan
!*color6: #5A5664
! bright_cyan
!*color14: #7A7588
! white
!*color7: #d3d7cf
! bright_white
!*color15: #eeeeec

*background: #1a1a1a
*foreground: #acacab

*color0: #050505
*color1: #e9897c
*color2: #b6377d
*color3: #ecebbe
*color4: #a9cdeb
*color5: #75507b
*color6: #c9caec
*color7: #f2f2f2
*color8: #141414
*color9: #f99286
*color10: #c3f786
*color11: #fcfbcc
*color12: #b6defb
*color13: #ad7fa8
*color14: #d7d9fc
*color15: #e2e2e2
