#!/bin/bash

# Set up gpg-agent config
# set pinentry
{{ if eq .chezmoi.os "linux" -}}
grep -q "pinentry-program" ~/.gnupg/gpg-agent.conf || echo "pinentry-program "$(which pinentry-tty) >> ~/.gnupg/gpg-agent.conf
{{ else if eq .chezmoi.os "darwin" -}}
grep -q "pinentry-program" ~/.gnupg/gpg-agent.conf || echo "pinentry-program "$(which pinentry-mac) >> ~/.gnupg/gpg-agent.conf
{{ end -}}

# ask passphrase once every day
grep -q "default-cache-ttl" ~/.gnupg/gpg-agent.conf || echo "default-cache-ttl 86400" >> ~/.gnupg/gpg-agent.conf
grep -q "max-cache-ttl" ~/.gnupg/gpg-agent.conf || echo "max-cache-ttl 86400" >> ~/.gnupg/gpg-agent.conf

# enable ssh support
grep -q "enable-ssh-support" ~/.gnupg/gpg-agent.conf || echo "enable-ssh-support" >> ~/.gnupg/gpg-agent.conf

# vim: syn=sh
